name: LM-Release-World
on:
  push:
    branches:
      - Luigi's-Mansion-AP
  workflow_dispatch:
    inputs:
      tag:
        description: "Required tag to create the pre-draft."
        required: true

jobs:
  windows-deps-311:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Create Lib-Windows3-11
        run: mkdir lib-windows3-11
      - name: Install Windows-Deps 3.11
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-windows3-11 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: lib-windows3-11
          path: ./lib-windows3-11/**

  windows-deps-312:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Create Lib-Windows3-12
      run: mkdir lib-windows3-12
    - name: Install Windows-Deps3-12
      run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-windows3-12 --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: lib-windows3-12
        path: ./lib-windows3-12/**

  windows-deps-313:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Create Lib-Windows3-13
        run: mkdir lib-windows3-13
      - name: Install Windows-Deps3-13
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-windows3-13 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: lib-windows3-13
          path: ./lib-windows3-13/**

  linux-deps-311:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Create Lib-Linux3-11
        run: mkdir lib-linux3-11
      - name: Install Linux-Deps3-11
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-linux3-11 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: lib-linux3-11
          path: ./lib-linux3-11/**

  linux-deps-312:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Create Lib-Linux3-12
      run: mkdir lib-linux3-12
    - name: Install Linux-Deps3-12
      run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-linux3-12 --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: lib-linux3-12
        path: ./lib-linux3-12/**

  linux-deps-313:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Create Lib-Linux3-13
        run: mkdir lib-linux3-13
      - name: Install Linux-Deps3-13
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./lib-linux3-13 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: lib-linux3-13
          path: ./lib-linux3-13/**

  fuzz:
    needs: [windows-deps-311, windows-deps-312, windows-deps-313, linux-deps-311, linux-deps-312, linux-deps-313]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Fuzzer-Check-3-yml
      uses: Eijebong/ap-actions/fuzz@main
      with:
        apworld-path: worlds/luigismansion
        ap-version: "latest"
        python-version: '3.12'
        runs: 15000
        yamls-per-run: 3
        meta: "${{github.workspace}}/worlds/luigismansion/luigis-mansion-meta.yml"
    - name: Fuzzer-Check-1-yml
      uses: Eijebong/ap-actions/fuzz@main
      with:
        apworld-path: worlds/luigismansion
        ap-version: "latest"
        python-version: '3.12'
        runs: 15000
        yamls-per-run: 1
        meta: "${{github.workspace}}/worlds/luigismansion/luigis-mansion-meta.yml"

  package:
    needs: [windows-deps-311, windows-deps-312, windows-deps-313, linux-deps-311, linux-deps-312, linux-deps-313]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Dependencies Build-AP
        run: python ${{github.workspace}}/ModuleUpdate.py -y -f

      - name: Build AP-World
        run: python ${{github.workspace}}/Launcher.py "Build APWorlds" "Luigi's Mansion"
        shell: pwsh 
      
      - uses: actions/upload-artifact@v4
        with:
          name: apworld
          path: ${{github.workspace}}/build/apworlds/luigismansion.apworld

  publish:
    runs-on: ubuntu-latest
    needs: [package]
    permissions:
      contents: write
    steps:
      - name: Create Local Artifact Folder
        run: mkdir tmp-artifacts
      - name: Create Local Windows Lib 3-11 Folder
        run: mkdir tmp-lib-windows3-11
      - name: Create Local Windows Lib 3-12 Folder
        run: mkdir tmp-lib-windows3-12
      - name: Create Local Windows Lib 3-13 Folder
        run: mkdir tmp-lib-windows3-13

      - name: Create Local Linux Lib 3-11 Folder
        run: mkdir tmp-lib-linux3-11
      - name: Create Local Linux Lib 3-12 Folder
        run: mkdir tmp-lib-linux3-12
      - name: Create Local Linux Lib 3-11 Folder
        run: mkdir tmp-lib-linux3-13

      - uses: actions/download-artifact@v4
        with:
          name: apworld
          path: tmp-artifacts
      
      - uses: actions/download-artifact@v4
        with:
          name: lib-windows3-11
          path: tmp-lib-windows3-11
      - name: Zip Lib Windows folder 3.11
        run: cd tmp-lib-windows3-11 && zip -r ../tmp-artifacts/lib-windows3-11.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: lib-windows3-12
          path: tmp-lib-windows3-12
      - name: Zip Lib Windows folder 3.12
        run: cd tmp-lib-windows3-12 && zip -r ../tmp-artifacts/lib-windows3-12.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: lib-windows3-13
          path: tmp-lib-windows3-13
      - name: Zip Lib Windows folder 3.13
        run: cd tmp-lib-windows3-13 && zip -r ../tmp-artifacts/lib-windows3-13.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: lib-linux3-11
          path: tmp-lib-linux3-11
      - name: Zip Lib Linux folder 3.11
        run: cd tmp-lib-linux3-11 && zip -r ../tmp-artifacts/lib-linux3-11.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: lib-linux3-12
          path: tmp-lib-linux3-12
      - name: Zip Lib Linux folder 3.12
        run: cd tmp-lib-linux3-12 && zip -r ../tmp-artifacts/lib-linux3-12.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: lib-linux3-13
          path: tmp-lib-linux3-13
      - name: Zip Lib Linux folder 3.13
        run: cd tmp-lib-linux3-13 && zip -r ../tmp-artifacts/lib-linux3-13.zip * && cd ../

      - name: Create Manual Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          draft: true
          prerelease: false
          name: Luigis Mansion AP ${{ inputs.tag == '' && github.ref_name || inputs.tag }}
          files: |
            tmp-artifacts/*