name: LM-Release-World
on:
  push:
    branches:
      - Luigi's-Mansion-AP
  workflow_dispatch:
    inputs:
      tag:
        description: "Required tag to create the pre-draft."
        required: true

jobs:
  windows-deps-311:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "~3.11.9"
          cache: pip
      - name: Clear pip cache 3.11
        run: pip cache purge
      - name: Create Lib-Windows3-11
        run: mkdir $env:LIB_WINDOWS_311
      - name: Install Windows-Deps 3.11
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target $env:LIB_WINDOWS_311 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: Upload lib-windows3-11
          path: ./$env:LIB_WINDOWS_311/**
    env:
      LIB_WINDOWS_311: "lib-windows3-11"

  windows-deps-312:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "~3.12.10"
        cache: pip
    - name: Clear pip cache 3.12
      run: pip cache purge
    - name: Create Lib-Windows3-12
      run: mkdir $env:LIB_WINDOWS_312
    - name: Install Windows-Deps3-12
      run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target $env:LIB_WINDOWS_312 --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: Upload lib-windows3-12
        path: ./$env:LIB_WINDOWS_312/**
    env:
      LIB_WINDOWS_312: "lib-windows3-12"

  windows-deps-313:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "~3.13.11"
          cache: pip
      - name: Clear pip cache 3.13
        run: pip cache purge
      - name: Create Lib-Windows3-13
        run: mkdir $env:LIB_WINDOWS_313
      - name: Install Windows-Deps3-13
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target $env:LIB_WINDOWS_313 --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: Upload lib-windows3-13
          path: ./$env:LIB_WINDOWS_313/**
    env:
      LIB_WINDOWS_313: "lib-windows3-13"

  linux-deps-311:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "~3.11.9"
          cache: pip
      - name: Clear pip cache 3.11
        run: pip cache purge
      - name: Create Lib-Linux3-11
        run: mkdir ${LIB-LINUX-311}
      - name: Install Linux-Deps3-11
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./${LIB-LINUX-311} --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: Upload lib-linux3-11
          path: ./${LIB-LINUX-311}/**
    env:
      LIB-LINUX-311: "lib-linux3-11"

  linux-deps-312:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "~3.12.10"
        cache: pip
    - name: Clear pip cache 3.12
      run: pip cache purge
    - name: Create Lib-Linux3-12
      run: mkdir ${LIB-LINUX-312}
    - name: Install Linux-Deps3-12
      run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./${LIB-LINUX-312} --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: Upload lib-linux3-12
        path: ./${LIB-LINUX-312}/**
    env:
      LIB-LINUX-312: "lib-linux3-12"

  linux-deps-313:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "~3.13.11"
          cache: pip
      - name: Clear pip cache 3.13
        run: pip cache purge
      - name: Create Lib-Linux3-13
        run: mkdir ${LIB-LINUX-313}
      - name: Install Linux-Deps3-13
        run: pip install -r ${{github.workspace}}/worlds/luigismansion/requirements.txt --target ./${LIB-LINUX-313} --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: Upload lib-linux3-13
          path: ./${LIB-LINUX-313}/**
    env:
      LIB-LINUX-313: "lib-linux3-13"

  fuzz:
    needs: [windows-deps-311, windows-deps-312, windows-deps-313, linux-deps-311, linux-deps-312, linux-deps-313]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "~3.12.10"
        cache: pip
    - name: Fuzzer-Check-3-yml
      uses: Eijebong/ap-actions/fuzz@main
      with:
        apworld-path: worlds/luigismansion
        ap-version: "latest"
        python-version: '3.12'
        runs: 15000
        yamls-per-run: 3
        meta: "${{github.workspace}}/worlds/luigismansion/luigis-mansion-meta.yml"
    - name: Fuzzer-Check-1-yml
      uses: Eijebong/ap-actions/fuzz@main
      with:
        apworld-path: worlds/luigismansion
        ap-version: "latest"
        python-version: '3.12'
        runs: 15000
        yamls-per-run: 1
        meta: "${{github.workspace}}/worlds/luigismansion/luigis-mansion-meta.yml"

  package:
    needs: [windows-deps-311, windows-deps-312, windows-deps-313, linux-deps-311, linux-deps-312, linux-deps-313]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build AP-World
        run: python -m ${{github.workspace}}/Launcher "Build APWorlds" "luigismansion"
        shell: pwsh 
      
      - uses: actions/upload-artifact@v4
        with:
          name: apworld
          path: ${{github.workspace}}/build/apworlds/**

  publish:
    runs-on: ubuntu-latest
    needs: [package]
    permissions:
      contents: write
    env:
      LM-VERS: ${{ inputs.tag == '' && github.ref_name || inputs.tag }}
    steps:
      - name: Create Local Artifact Folder
        run: mkdir tmp-artifacts
      - name: Create Local Windows Lib 3-11 Folder
        run: mkdir tmp-$env:LIB_WINDOWS_311
      - name: Create Local Windows Lib 3-12 Folder
        run: mkdir tmp-$env:LIB_WINDOWS_312
      - name: Create Local Windows Lib 3-13 Folder
        run: mkdir tmp-$env:LIB_WINDOWS_313

      - name: Create Local Linux Lib 3-11 Folder
        run: mkdir tmp-${LIB-LINUX-311}
      - name: Create Local Linux Lib 3-12 Folder
        run: mkdir tmp-${LIB-LINUX-312}
      - name: Create Local Linux Lib 3-11 Folder
        run: mkdir tmp-${LIB-LINUX-313}

      - uses: actions/download-artifact@v4
        with:
          name: apworld
          path: tmp-artifacts
      
      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.11
          path: tmp-$env:LIB_WINDOWS_311
      - name: Zip Lib Windows folder 3.11
        run: cd tmp-$env:LIB_WINDOWS_311 && zip -r ../tmp-artifacts/$env:LIB_WINDOWS_311.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.12
          path: tmp-$env:LIB_WINDOWS_312
      - name: Zip Lib Windows folder 3.12
        run: cd tmp-$env:LIB_WINDOWS_312 && zip -r ../tmp-artifacts/$env:LIB_WINDOWS_312.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.13
          path: tmp-$env:LIB_WINDOWS_313
      - name: Zip Lib Windows folder 3.13
        run: cd tmp-$env:LIB_WINDOWS_313 && zip -r ../tmp-artifacts/$env:LIB_WINDOWS_313.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.11
          path: tmp-${LIB-LINUX-311}
      - name: Zip Lib Linux folder 3.11
        run: cd tmp-${LIB-LINUX-311} && zip -r ../tmp-artifacts/${LIB-LINUX-311}.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.12
          path: tmp-${LIB-LINUX-312}
      - name: Zip Lib Linux folder 3.12
        run: cd tmp-${LIB-LINUX-312} && zip -r ../tmp-artifacts/${LIB-LINUX-312}.zip * && cd ../

      - uses: actions/download-artifact@v4
        with:
          name: Tmp Windows 3.13
          path: tmp-${LIB-LINUX-313}
      - name: Zip Lib Linux folder 3.13
        run: cd tmp-${LIB-LINUX-313} && zip -r ../tmp-artifacts/${LIB-LINUX-313}.zip * && cd ../

      - name: Create Manual Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          draft: true
          prerelease: false
          name: Luigis Mansion AP ${LM-VERS}
          files: |
            tmp-artifacts/*