name: Fuzz Luigi's Mansion
on: [workflow_dispatch, workflow_call]

jobs:
  fuzz-lm:
    runs-on: ubuntu-latest
    steps:

    # Get Eije's Fuzzer and his various built-in hooks
    - name: Checkout Fuzzer
      uses: actions/checkout@v4
      with:
        repository: Eijebong/Archipelago-fuzzer
        ref: eaef49942adfba577bd886dafe932e87d33a367c
        path: ${{ github.workspace }}/eije-fuzzer

      #  Get Mysteryem's hook files for lambda capture issues and item placement issues.
    - name: Download Mysterym Fuzzer Hooks
      uses: actions/checkout@v4
      with:
        repository: Mysteryem/Archipelago-fuzzer
        ref: 8b80a433fe57570b644fe9d245b1eb6a61be3d89
        path: ${{ github.workspace }}/mysteryem-fuzzer

    # Get the latest release of UT's tracker world, which also contains a UT hook check.
    - name: Get Latest UT Tracker Release Tag
      id: getTrackerTag
      shell: bash
      run: |
        echo "releasetag=$(curl -fsL -H "Authorization: Bearer ${{ github.token }}" \
        https://api.github.com/repos/FarisTheAncient/Archipelago/releases/latest | jq -r '.tag_name' )" >> $GITHUB_OUTPUT
    - name: Download Latest UT APWorld Release
      run: |      
        curl --fail --create-dirs -L -H "Authorization: Bearer ${{ github.token }}" \
          -H "Accept: application/octet-stream" \
          -o ${{ github.workspace }}/temp_worlds/tracker.apworld \
          "https://github.com/FarisTheAncient/Archipelago/releases/download/${{ steps.getTrackerTag.outputs.releasetag }}/tracker.apworld"

    # Get the latest release of Eije's empty world, which is used to help evaluate restrictive starts.
    - name: Download Empty APWorld
      run: |        
        curl --fail --create-dirs -L -H "Authorization: Bearer ${{ github.token }}" \
          -H "Accept: application/octet-stream" \
          -o ${{ github.workspace }}/temp_worlds/empty.apworld \
          "https://github.com/Eijebong/empty-apworld/releases/download/0.0.3/empty.apworld"

    # Generate a template YAML for the EmptyWorld, which will be used as an input into a fuzzer task later.
    # Also sets up AP behind the scenes.
    - name: Generate Empty Template
      id: genTemplate
      uses: Eijebong/ap-actions/generate-template@main
      continue-on-error: true
      with:
        ap-version: "latest"
        python-version: 3.12
        apworld-path: ${{ github.workspace }}/temp_worlds/empty.apworld
        checkout: false

    # Now checkout our own repo and set up our dependencies
    - name: Download LM's Repo
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          worlds/luigismansion
        path: worlds/luigismansion
    - name: Install LM Dependencies
      run: pip install -r worlds/luigismansion/requirements.txt
    - name: Re-Install AP Dependencies
      run: python ModuleUpdate.py -y -f

    # Copy the fuzzer into AP's Main Folder, copies UT and Empty to custom_worlds.
    - name: Copy Fuzz.py to main AP Level
      run: |
        mv ${{ github.workspace }}/eije-fuzzer/fuzz.py ${{ github.workspace }}/archipelago/fuzz.py
    - name: Copy Empty world to custom_worlds
      run: |
        mv ${{ github.workspace }}/temp_worlds/empty.apworld ${{ github.workspace }}/archipelago/custom_worlds
    - name: Copy Tracker world to custom_worlds
      run: |
        mv ${{ github.workspace }}/temp_worlds/tracker.apworld ${{ github.workspace }}/archipelago/custom_worlds

    # Fuzz with Single Yaml
    - name: LM Single Yaml Run
      continue-on-error: true
      run: |
        cd archipelago
        python fuzz.py -r 1000 -j 4 -g luigismansion -n 1 -m \
        worlds/luigismansion/luigis-mansion-meta.yml
    - name: Zip Single Yaml Fuzz Output
      run: |
        if [ -d "fuzz_output" ]; then
          zip -r fuzz_single_yaml_output.zip "fuzz_output"
        fi
    - name: Upload Single Yaml Fuzz Artifact
      run: |
        if [ -f "fuzz_single_yaml_output.zip" ]; then
          gh artifact upload fuzz_single_yaml_output.zip --name fuzz_single_yaml_output
        fi
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
